input {
  word-wrap: break-word;
  word-break: break-all;
  height: 1rem;
}

.App {
  text-align: left;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noteForm {
  width: 10%;
  border: solid 0.1rem black
}

.noteTitle {
  font-weight: bold;
}

.noteDate {
  font-weight: lighter;
  font-size: 0.5rem;
}

.noteTitleInput {
  padding: 0.75rem 0rem 0.5rem 0rem;
  border: none;
  font-weight: bold;
}

.noteTitleInput:focus{
  outline-width: 0;
}

.noteContentInput {
  padding: 0.5rem 0rem 10rem 0rem;
  border: none;
  word-wrap: break-word;
  word-break: break-all;
  height: 1rem;
}

.noteContentInput:focus{
  outline-width: 0;
}

.noteStyle {
  border: solid 0.1rem black;
  width:10%;
}

.submitInput {
  display: none
}