.headerContainer {
  transition: 300ms ease;
}

.header {
  display: inline-block;
  z-index:1;
}

/* .header:hover{
  transition: 300ms ease;
  background-image: linear-gradient(bottom, red, red 70%, transparent 70%, transparent 100%);
  background-image: -webkit-linear-gradient(bottom, red, red 70%, transparent 70%, transparent 100%);
} */

.headerHover {
  position: relative;
  z-index: 1;
}

.headerHover:after {
  position:absolute;
  opacity: 0;
  z-index:-1;
  bottom:1.25rem;
  left:0.75rem;
  width:0%;
  height:25%;
  content:"";
  background-color:rgba(182, 240, 148, 0.774);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
}

.headerHover:hover:after {
  opacity: 1;
  width:100%;
}

h1 {
  display: inline-block;
}

input {
  word-wrap: break-word;
  word-break: break-all;
  height: 1rem;
}

.App {
  text-align: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 300ms ease;
}

.noteForm {
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  border: solid 0.1rem black;
  padding: 0 0.5rem 0 0.5rem;
}

.noteTitle {
  flex: 0;
  font-weight: bold;
  border: none;
  resize: none;
  padding: 0.5rem 0 0 0.25rem;
  height: 1.5rem;
}

.noteTitle:focus {
  outline-width: 0;
}

.noteContent {
  flex: 4;
  border: none;
  resize: none;
  height: fit-content;
  overflow: auto;
  padding: 0 0 0 0.25rem;
  margin-top: 0.5rem;
}

.noteContent:focus {
  outline-width: 0;
}

.noteDate {
  flex: 0.5;
  font-weight: lighter;
  font-size: 0.5rem;
}

.noteTitleInput {
  display: flex;
  padding: 0.75rem 0rem 0.5rem 0rem;
  border: none;
  font-weight: bold;
  resize: none;
}

.noteTitleInput:focus{
  outline-width: 0;
}

.noteContentInput {
  padding: 0.5rem 0rem 10rem 0rem;
  border: none;
  height: 1rem;
  resize: none;
}

.noteContentInput:focus{
  outline-width: 0;
}

.noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.noteStyle {
  transition: all 500ms ease;
  display: flex;
  border: solid 0.1rem black;
  flex-direction: column;
  min-height: 25vh;
  width: 10%;
  margin: 1rem;
  padding: 0.5rem;
}

.noteStyle:focus-within {
  transition: all 500ms ease;
  box-shadow: 8px 8px rgba(182, 240, 148, 0.774);
}

.noteStyle:hover {
  transition: all 500ms ease;
  box-shadow: 8px 8px rgba(182, 240, 148, 0.774);
}

.submitInput {
  display: none
}